
<!DOCTYPE html>
<html>
  <head>
    <title>YT2Audio</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="author" content="Raymond Cao">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="Shortcut Icon" href="{{ url_for('static', filename='manifest.json') }}" type="image/x-icon">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/favicon_32x32.png') }}">
    <link rel="apple-touch-icon" type="image/png" href="/images/favicon_192x192.png">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="manifest" href="{{ url_for('static', filename='manifest.json') }}">
    
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
  </head>
  <body>
    <main>
      {% block content %}
      {% endblock %}
    </main>
  </body>
</html>
